/.R-library/
*.Rdata
*.RData
*.independence-test
.Rhistory
.RData
.Rproj.user/
.DS_Store
/.aws/
.Renviron
/shinyApp/sc1assay_RNA.h5
/shinyApp/*.partial
/shinyApp/rsconnect/
/reports/*.log
/reports/*.pdf
/reports/*.tar.gz
/reports/ui-parse.txt
/reports/generation-session.txt
